{{/* boolean feature flags */}}
{{- $simple := promptBool "Use faster simplified setup (y/n)" -}}
{{- $headless := promptBool "Is this a headless system (y/n)" -}}

[data]
  simple = {{ $simple }}
  headless = {{ $headless }}
