{{ if not .headless -}}
#!/usr/bin/env bash
set -euo pipefail

# install packages that depend on gnome
packages=(
  gnome-tweaks
  gnome-shell-extensions
  dconf-editor
  guake
  pulseaudio
  pavucontrol
  cups-backend-bjnp
  cheese
)

sudo apt-get update
sudo apt-get install -y "${packages[@]}"

# install fonts for powerlevel10k
font_dir="${HOME}/.local/share/fonts"
if [[ ! -d $font_dir ]]; then
  fonts=(
    "MesloLGS NF Regular.ttf"
    "MesloLGS NF Bold.ttf"
    "MesloLGS NF Italic.ttf"
    "MesloLGS NF Bold Italic.ttf"
  )
  mkdir -p $font_dir
  for font in "${fonts[@]}"; do
    curl -o "${font_dir}/${font}" -sL "https://github.com/romkatv/powerlevel10k-media/raw/master/${font// /%20}"
  done
  fc-cache --verbose $font_dir
fi

# configure terminal
profile=$(gsettings get org.gnome.Terminal.ProfilesList default)
profile=${profile:1:-1} # remove leading and trailing single quotes https://askubuntu.com/a/733202
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ use-system-font false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ font "MesloLGS NF 12"
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ audible-bell false

# hide home and trash desktop icons
gsettings set org.gnome.shell.extensions.desktop-icons show-home false
gsettings set org.gnome.shell.extensions.desktop-icons show-trash false

# make fractional scaling work on wayland
# https://www.linuxuprising.com/2019/04/how-to-enable-hidpi-fractional-scaling.html
# gsettings set org.gnome.mutter experimental-features "['scale-monitor-framebuffer']"

# configure guake
# TODO add further config
gsettings set guake.style.font style "MesloLGS NF 12"
# TODO add startup entry for guake
# https://askubuntu.com/questions/598195/how-to-add-a-script-to-startup-applications-from-the-command-line

# TODO install Gnome Shell extensions
# https://extensions.gnome.org/extension/4248/audio-switcher-40/
# this was not working :(

# install EurKey
# https://eurkey.steffen.bruentjen.eu/
if ! dpkg -s eukey &>/dev/null; then
  # https://eurkey.steffen.bruentjen.eu/download.html
  echo 'install EurKEY'
  wget -nv -O - https://eurkey.steffen.bruentjen.eu/download/debian/repo/conf/eurkey.gpg.key | sudo apt-key add -
  echo deb https://eurkey.steffen.bruentjen.eu/download/debian/repo stable main | sudo sh -c 'cat > /etc/apt/sources.list.d/eurkey.steffen.bruentjen.de.sources.list'
  sudo apt-get update
  sudo apt-get install eurkey
else
  echo 'EurKEY already installed'
fi

{{ end }}
