#!/usr/bin/env bash
set -euo pipefail

packages=(
  zsh
  vim
  tree{{ if not .headless }}
  bat
  jq
  httpie
  zsh-autosuggestions{{- end }}
)

sudo apt install -y "${packages[@]}"

{{ if not .headless }}
# fix bat executable name (https://github.com/sharkdp/bat#on-ubuntu-using-apt)
if ! command -v bat > /dev/null; then
  mkdir -p ~/.local/bin
  ln -s /usr/bin/batcat ~/.local/bin/bat
fi
{{ end }}