{{ if not .headless -}}
#!/usr/bin/env bash
set -euo pipefail

if [[ ! -d ~/.local/share/JetBrains/Toolbox ]]; then
  DOWNLOAD_TARGET=~/Downloads/toolbox.tar.gz
  echo "Download JetBrains Toolbox into $DOWNLOAD_TARGET ..."
  curl --progress-bar --output $DOWNLOAD_TARGET https://download-cf.jetbrains.com/toolbox/jetbrains-toolbox-1.19.7784.tar.gz

  TOOLBOX_TEMP_DIR=/tmp/toolbox
  echo "Extract JetBrains Toolbox into $TOOLBOX_TEMP_DIR ..."
  tar -C "$TOOLBOX_TEMP_DIR" -xf "$DOWNLOAD_TARGET"

  "$TOOLBOX_TEMP_DIR"/*/jetbrains-toolbox

  echo "JetBrains Toolbox was successfully installed!"
else
  echo "JetBrains Toolbox is already installed!"
fi
{{ end }}
