{{ if not .headless -}}
#!/usr/bin/env bash
set -euo pipefail

if [[ ! -f .local/share/JetBrains/Toolbox/bin/jetbrains-toolbox ]]; then
  DOWNLOAD_TARGET=~/Downloads/toolbox.tar.gz
  echo "Download JetBrains Toolbox into $DOWNLOAD_TARGET ..."
  curl --progress-bar --output $DOWNLOAD_TARGET https://download-cf.jetbrains.com/toolbox/jetbrains-toolbox-1.21.9712.tar.gz

  TOOLBOX_TEMP_DIR=/tmp/toolbox
  echo "Extract JetBrains Toolbox into $TOOLBOX_TEMP_DIR ..."
  mkdir $TOOLBOX_TEMP_DIR
  tar -C "$TOOLBOX_TEMP_DIR" -xf "$DOWNLOAD_TARGET"
  rm $DOWNLOAD_TARGET

  echo "Install JetBrains Toolbox ..."
  "$TOOLBOX_TEMP_DIR"/*/jetbrains-toolbox

  echo "JetBrains Toolbox was successfully installed!"
else
  echo "JetBrains Toolbox is already installed!"
fi
{{ end }}
